@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #fff
    }

    a:visited {
        color: #dc00ff
    }
}

h1 {
    font: 400 27px/33px Segoe UI, system-ui, -apple-system, sans-serif
}

p {
    font: 400 14px/1.5555555556 Segoe UI, system-ui, -apple-system, sans-serif
}

@media (min-width: 321px) {
    h1 {
        font-size: 36px;
        line-height: 44px
    }

    p {
        font: 400 18px/1.7777777778 Segoe UI, system-ui, -apple-system, sans-serif
    }
}

@media (min-width: 865px) {
    h1 {
        font-size: 44px;
        line-height: 52px
    }
}

img {
    max-width: 100%;
    height: auto;
}
