body {
    margin: auto;
    max-width: 1205px;
    padding: 10px;
    min-width: 340px;
}

a:visited, a:link {
    color: #000;
}

header {
    margin: 25px 0 50px;
}

.title {
    display: inline-block;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 15px 0 0;
}
