@media (min-width: 321px) {
    h1 {
        font-size: 36px;
        line-height: 44px
    }

    p, a, li {
        font: 400 16px/1.7777777778 Segoe UI, system-ui, -apple-system, sans-serif
    }
}
